@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 600;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*End of Custom CSS Reset*/

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1 {
    font-size: 2rem;
}

img {
    height: 1.5rem;
    justify-self: center;
}

button {
  padding: 0;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(7, 1fr);
}

.sidebar-container {
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(13, 2rem);
    align-items: center;
    row-gap: 0.8vw;
    
    font-size: 1.5rem;
    padding: 0 0.2rem;

    background-color: #1992d4;
    color: #ffffff;
}

#dashboard-icon, #dashboard-text {
    grid-row: 1 / 3;
}

#dashboard-icon {
    height: 3rem;
}

.header-container {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    padding: 0.5rem 2.5rem;
    gap: 1vw;
    align-items: center;
}

.searchbar-container {
  gap: 1vw;
  grid-column: 1 / 8;
}

.search-flex {
  display: flex;
  gap: 1vw;
}

.searchbar {
  background-color: #e2e8f0;
  border-width: 0;
  border-radius: 100px;
  width: 40vw;
  height: 1.5rem;
}

.button-pic {
  height: inherit;
  width: inherit;
}

.clean-button {
  border-width: 0;
  background-color: #ffffff;
}

.notification-button {
  grid-column: 9;
  justify-self: end;
  height: 1.5rem;
  width: 1.5rem;
}

.profile-button {
  height: 3rem;
  width: 3rem;
  justify-self: end;
}

.profile-link {
  grid-column: 11 / 13;
  justify-self: center;
}

.big {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  height: 5.5rem;
}

.welcome-text {
  grid-row: 2;
  grid-column: 2 / 5;
  align-self: center;
  min-width: 8rem;
}

.header-button-container {
  grid-column: -1 / -6;
  display: flex;
  justify-self: end;
  align-self: center;
  gap: 2vw;
}

.header-button {
  height: 2.8rem;
  width: 8vw;
  font-weight: bold;
  color: #ffffff;
  background-color: #1992d4;
  border-radius: 100px;
  border-width: 0;
}

.main-content-container {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    background-color: #e2e8f0;
    padding: 2rem 1.5rem;
    gap: 1rem;
}

.start-main {
  grid-column: 1 / 3;
}

.project-container {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(1rem + 10px);
}

.project {
  height: 210px;
  padding: 2rem 1.5rem;
  background-color: #ffffff;
  border-left-style: solid;
  border-radius: 0.5rem;
  border-left-width: 0.5vw;
  border-left-color: #f0b429;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 100px 30px;
}

h3 {
  font-weight: bolder;
}

.project h3 {
  grid-row: 1;
}

.project p {
  color: #636363;
  grid-row: 2 / 3;
}

.project-icon-container {
  display: flex;
  justify-content: end;
  gap: calc(1rem + 10px);
  grid-row: 3 / 4;
}

.announcements {
  grid-column: -2 / -1;
  display: grid;
}

.start-trending {
  grid-column: -2 / -1;
}

.trendings {
  grid-column: -2 / -1;
  display: grid;
}

.shadowbox {
  box-shadow: 0 5px 5px #00000030;
}